:global(html),
:global(body) {
  margin: 0;
  padding: 0;
  background: url("~assets/background.png") center/cover no-repeat;
}

@font-face {
  font-family: "burbank";
  src: url("~assets/Burbank.ttf") format("truetype");
}

.container {

  display: flex;
  flex-direction: row;
  box-sizing: border-box;


  backdrop-filter: blur(10px);
  padding: 16px;
  width: 350px;
  height: 250px;
  overflow: hidden;

  background-image: url("~assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: gray;

  border: 4px solid #850000;
  border-radius: 0px;
  box-shadow: inset 0 0 30px rgba(163, 0, 0);

}

.button {
  z-index: 1;
  position: relative;
  overflow: hidden;

  font-family: "burbank", sans-serif;

  width: 80%;
  height: 80%;
  padding: 6px 8px;

  font-size: 12px;

  border-radius: 16px;
  border: none;

  cursor: pointer;

  background: rgba(255,255,255,0.15);
  color: white;
  transition: all 0.2s ease;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  border: 1px solid #ff0000;
  outline: 1px solid #8a1616;
  outline-offset: -1px;
  transition: outline-offset 200ms ease;
}

.button:active {
  box-shadow: 0 0 10px #ff0000;
  outline-offset: 3px;
}


.active {
  background: #850000;
  box-shadow: 0 0 8px #850000;
}

.leftPanel {
  width: 160px;
  display: flex;
  flex-direction: column;
}

.rightPanel {

  flex: 1;
  padding-left: 0px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-family: Arial, sans-serif;

}

.rightTop {
  flex: 1;
  text-align: left;
  align-items: left;
}


.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
  width: 100%;
}

h2 {
margin: 0px;
}

.title {
  z-index: 1;
  margin-top: -2px;
  font-family: "burbank", sans-serif;
  font-size: 27;
  color: #d11f1f;
  opacity: 1;
  display: block;
  transition: opacity 0.7s ease;
  text-shadow: 2px 0 #521c1c, -2px 0 #521c1c, 0 2px #521c1c, 0 -2px #521c1c,
                 1px 1px #521c1c, -1px -1px #521c1c, 1px -1px #521c1c, -1px 1px #521c1c;
}

.subtitle {
  z-index: 1;
  margin-top: -2px;
  font-family: "burbank", sans-serif;
  font-size: 15;
  color: #d11f1f;
  opacity: 1;
  position: relative;
  transition: opacity 0.7s ease;
  display: block;
}

.desc {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 50px;
  color: #8f8f8f;
  transition: transform 0.4s, color 0.4s, opacity 0.2s;
  z-index: 2;
  opacity: 0.3;


}

.desc:hover {
  transform: scale(1.2);
  color: #d1d1d1;
  opacity: 1;
}


.imagFouter {
  position: center;
  top: 50px;
  left: 200px;
  width: 100px;
  height: auto;
  z-index: -1;
  filter: drop-shadow(10px 7px 18px #ff0000);
  animation: spin 10s linear infinite;

}


.imagF {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.3s ease;
  transform: scale(2) rotate(0deg);
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


.desc:hover ~ .imagFouter .imagF {
  transform: scale(4) rotateZ(50deg);
  opacity: 0.4;

 }

.desc:hover ~ h2 .title {
  opacity: 0;
}

.desc:hover ~ h2 .subtitle {
  opacity: 0;
}